/* ==========================
   BASE
========================== */
body {
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ==========================
   CARD PRINCIPAL 
========================== */
.finan-card {
    width: 100%;
    max-width: 380px;       
    border-radius: 25px;
    background: #ffffff;
}

/* ==========================
   IMAGEM PRINCIPAL
========================== */
.illustration {
    width: 88%;
    max-width: 260px;
    margin: 0 auto;
    display: block;
}

/* ==========================
   TÍTULO
========================== */
.main-title {
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: 700;
    color: #1a1a1a;
}

/* ==========================
   SUBTÍTULO
========================== */
.main-subtitle {
    font-size: 0.95rem;
    color: #4a4a4a;
    line-height: 1.5;
    width: 85%;
    margin:0 auto;
}

/* ==========================
   INDICADORES
========================== */
.indicators .dot {
    height: 8px;
    width: 22px;
    background-color: #dcdcdc;
    border-radius: 4px;
    display: inline-block;
    margin: 0 4px;
}

.indicators .dot.active {
    background-color: #1f4fff;
}

/* ==========================
   BOTÃO PRINCIPAL
========================== */
.button-main:houver{
    background-color: #1637b3;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;    
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transform: scale(0.98);
}

/* ==========================
   LOGIN
========================== */
.login-text {
    font-size: 0.95rem;
    color: #4e4e4e;
}

.login-link {
    color: #1f4fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.login-link:hover {
    transform: scale(1.02);
    color: #1637b3;
}

/* ==========================
   RESPONSIVIDADE
========================== */

@media (min-width: 768px) {
    .finan-card {
        padding: 45px 40px;
    }

    .main-title {
        font-size: 1.8rem;
    }

    .main-subtitle {
        font-size: 1rem;
    }
}
@media (max-width: 350px) {
    .main-title {
        font-size: 1.4rem;
    }
}